@model IEnumerable<eProject.Models.Admins>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h1>List of Admin</h1>

<div>
    @using (Html.BeginForm())
    {
        <input type="text" name="name" placeholder="Enter username..." />
        <input type="submit" value="Search" class="btn-info" />
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <img src="~/@Url.Content(item.Images)" width="100" />
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { uname = item.Username })*@
                @*@Html.ActionLink("Details","Details", new {id = item.Admin_Id }, new {"return confirm('Are you sure?')"})*@
            </td>
        </tr>
}
    </tbody>
</table>
