@model IEnumerable<eProject.Models.Department>

@{
    ViewData["Title"] = "AdminIndexDepartment";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("AdminIndexDepartment", "Department")">Department List</a></li>
                        </ol>
                    </nav>
                </div>
                
            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">

        <div class="text-center" style="padding:10px">
            @using (Html.BeginForm())
            {
                <input type="text" name="dname" placeholder="Enter Department name..." />
                <input type="submit" value="Search" class="btn-info" />
            }
        </div>



        <p>
            <a asp-action="AdminCreateDepartment">Create New</a>
        </p>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Department_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Budget)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Budget)
                        </td>
                        <td>
                            <a asp-action="AdminEditDepartment" asp-route-id="@item.Department_Id">Edit</a> |
                            <a asp-action="AdminDeleteDepartment" asp-route-id="@item.Department_Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>