@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    List<CartItem> listCart = new List<CartItem>();
    decimal total_money = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
}

<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Request <span>(@listCart.Count Items)</span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div>
    <div class="bs-canvas-body">
        <div class="side-cart-items">
            @if (listCart.Count > 0)
            {
                @foreach (CartItem cart in listCart)
                {
                    total_money += cart.Item.Price * cart.Quantity;
                    <div class="cart-item">
                        <div class="cart-product-img">
                            <img src="~/@Url.Content(cart.Item.Images)" width="88" height="88">
                        </div>
                        <div class="cart-text">
                            <h4>@cart.Item.Description</h4>

                            <form action="@Url.Action("AddToCart", "Request")" method="get" class="w-10">
                                <div class="qty-group">
                                    <div class="quantity buttons_added">
                                        <input type="hidden" name="id" value="@cart.Item.ItemCode" />
                                        <input type="button" value="-" class="minus minus-btn">
                                        <input type="number" step="1" name="quantity" value="@cart.Quantity" class="input-text qty text">
                                        <input type="button" value="+" class="plus plus-btn">
                                    </div>
                                    <div class="cart-item-price">USD @cart.Item.Price </div>
                                </div>
                                <button type="submit" name="button" value="delete" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                                <button type="submit" name="button" value="update" class="btn btn-link btn-xs float-right"><span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span></button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="bs-canvas-footer">
        <div class="main-total-cart">
            <h2>Total</h2>
            <span>$@total_money</span>
        </div>


        @if (listCart.Count > 0)
        {
            <div class="checkout-cart">
                <a href="@Url.Action("Submit", "Request")" class="cart-checkout-btn hover-btn">Proceed to Submit</a>
            </div>
        }
        else
        {
            <div class="checkout-cart">
                <a href="@Url.Action("Create", "Request")" class="cart-checkout-btn hover-btn">Select your item</a>
            </div>
        }
    </div>
</div>
@*Cart Sidebar Offsetl End*@
