@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    string json_user_detail = HttpContextAccessor.HttpContext.Session.GetString("user_detail");
    Users user = null;
    List<CartItem> listCart = new List<CartItem>();
    decimal total_money = 0;
    decimal a = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
    if (json_user_detail != null)
    {
        JObject jsonResponse = JObject.Parse(json_user_detail);
        user = JsonConvert.DeserializeObject<Users>(json_user_detail.ToString());
    }
}


@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Details";
    var pageList = (IPagedList)ViewBag.itemList;
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h2>Details</h2>

<div>
    @using (Html.BeginForm())
    {
        <input type="text" name="itemName" placeholder="Enter status..." />
        <input type="submit" value="Search" class="btn-info" />
    }
</div>

Page @Html.PagedListPager(pageList, page => Url.Action("Details", new { page }))


<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Item Code</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>

    @foreach (var item in ViewBag.itemList)
    {
        a = item.Price * item.Quantity;
        total_money += item.Price * item.Quantity;
        <tr>
            <td>@item.Request_Id</td>
            <td>@item.ItemCode</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>

            <td>@a</td>

        </tr>
    }

</table>
<div>Total amount of Request = @total_money</div>

