@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    string json_user_detail = HttpContextAccessor.HttpContext.Session.GetString("user_session");
    Users user = null;
    List<CartItem> listCart = new List<CartItem>();
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
    if (json_user_detail != null)
    {
        JObject jsonResponse = JObject.Parse(json_user_detail);
        user = JsonConvert.DeserializeObject<Users>(json_user_detail.ToString());
    }
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Details";
    var pageList = (IPagedList)ViewBag.itemList;
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@section css{
    <link href="~/css/step-wizard.css" rel="stylesheet" />
}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @*<li class="breadcrumb-item"><a href="@Url.Action("Index", "Request")">Request List</a></li>*@
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Detail</a> </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">
        <div class="container">
            <div><p style="font-weight:bolder">Requesr ID: @ViewBag.reqId</p></div>
            <div class="text-center" style="padding:10px">
                @using (Html.BeginForm())
                {
                    <input type="text" style="height:30px" name="itemName" placeholder="Enter item description..." />
                    <input type="submit" value="Search" class="btn-info" />
                }
            </div>
        </div>
        @if (ViewBag.itemList != null && ViewBag.itemList.Count > 0)
        {
            <table class="table table-bordered" border="1">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Item Code</th>
                        <th>Quantity</th>
                        <th>Price (USD)</th>
                        <th>Total (USD)</th>
                    </tr>
                </thead>

                @foreach (var item in ViewBag.itemList)
                {
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/@Url.Content(item.Images)" width="88" height="88">
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>@item.ItemCode</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@item.Total</td>
                        </tr>

                    </tbody>
                }
                <tfoot>
                    <tr>
                        <td colspan="5">Total amount of Request  (USD)</td>
                        <td style="font-weight:bolder;color:coral">@ViewBag.requestTotal</td>
                    </tr>
                </tfoot>

            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <ul>
                    <li>There is no Result</li>
                </ul>
            </div>
        }

        <div class="col-md-12">
            <div class="blog-more-btn">
                <div class="pagination-area text-center">
                    <nav aria-label="navigation">
                        <div>
                            <h3 style="color:darkblue; font-size:14px">
                                @if (pageList != null)
                                {
                                    @Html.PagedListPager(pageList, page => Url.Action("Details", new { page }))
                                }
                            </h3>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        @*<input class="btn btn-primary" type="button" value="Go Back" onclick="location.href='@Url.Action("Index", "Request")'" />*@

        <button class="btn btn-primary" onclick="goBack()">Go Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>


    </div>
</div>