@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    List<CartItem> listCart = new List<CartItem>();
    decimal total_money = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
}
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@section css{
    <link href="~/css/step-wizard.css" rel="stylesheet" />
}
<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Create", "Request")">Create New</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Submit Request</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="all-product-grid">
        <div class="container">
            <form method="POST" action="@Url.Action("Submit", "Request")">
                <div class="row">
                    <div class="col-md-12">
                        @if (@ViewBag.Alert != null && @ViewBag.Alert.ToString().Length > 0)
                        {
                            <div class="alert alert-@ViewBag.Alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <ul>
                                    @foreach (var message in @ViewBag.Message)
                                    {
                                        <li>@Html.Raw(@message)</li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                @if (listCart.Count > 0)
                {
                    <div class="row">
                        @*LEFT*@
                        <div class="col-lg-5 col-md-4">
                            <div id="checkout_wizard" class="checkout accordion left-chck145">
                                <div class="checkout-step">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="pymnt_title mb-12">
                                                    <h4>Reason of your request</h4>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" style="display:block">
                                                <div class="form-group mt-1">
                                                    <div class="ui search focus">
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <textarea class="form-control" name="Reason" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" value="finish" class="next-btn16 hover-btn">Finish request</button>
                                </div>
                            </div>
                        </div>
                        @*Right*@
                        <div class="col-lg-6 col-md-7">
                            <div class="pdpt-bg mt-0">
                                <div class="pdpt-title">
                                    <h4>Selected Items</h4>
                                </div>
                                <div class="right-cart-dt-body">
                                    @foreach (CartItem cart in listCart)
                                    {
                                        total_money += cart.Item.Price * cart.Quantity;
                                        <div class="cart-item border_radius">
                                            <div class="cart-product-img">
                                                <img src="~/@Url.Content(cart.Item.Images)" width="87" height="87">
                                            </div>
                                            <div class="cart-text">
                                                <h4>@cart.Item.Description</h4>
                                                <form action="@Url.Action("AddToCart", "Request")" method="get" class="w-100">
                                                    <input type="hidden" name="id" value="@cart.Item.ItemCode" />
                                                    <div name="quantity" class="cart-item-price">USD @cart.Item.Price </div>
                                                </form>
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="main-total-cart">
                                    <h2>Total: <span>USD @total_money</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </form>
        </div>
    </div>
</div>
<!-- Body End -->
