@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    string json_user_detail = HttpContextAccessor.HttpContext.Session.GetString("user_session");
    Users user = null;
    List<CartItem> listCart = new List<CartItem>();
    decimal total_money = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<CartItem>(cartResult.ToString()));
        }
    }
    if (json_user_detail != null)
    {
        JObject jsonResponse = JObject.Parse(json_user_detail);
        user = JsonConvert.DeserializeObject<Users>(json_user_detail.ToString());
    }
}

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Task List";
    var pageList = (IPagedList)ViewBag.itemList;
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Task History</a></li>
                        </ol>
                    </nav>
                </div>
            
            </div>
        </div>
    </div>


    <div style="margin-left: 10px; margin-right: 10px">
        <div class="container">
            <div class="text-center" style="padding:10px">
                @using (Html.BeginForm())
                {
                    @Html.Label("From:");
                    <input type="datetime-local" name="fromDate" />
                    @Html.Label("To:");
                    <input type="datetime-local" name="toDate" />
                    <input type="submit" value="Filter" name="Submit" class="btn-info" />
                    <br />
                    <br />
                    @Html.Label("Get Requests:");
                    <input type="submit" value="Search" name="Submit" class="btn-info" />
                }
            </div>
        </div>


        @if (ViewBag.itemList != null && ViewBag.itemList.Count > 0)
        {
            <table class="table table-bordered" border="1">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Date Request</th>
                        <th>Approved Date</th>
                        <th>Status</th>
                        <th>Reason</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.itemList)
                    {
                        <tr>
                            <td>@item.Request_Id</td>
                            <td>@item.DateRequest</td>
                            <td>@item.ApprovedDate</td>
                            <td>@item.Status</td>
                            <td>@item.Reason</td>
                            <td>
                                @Html.ActionLink("View Details", "Details", "Request", new { id = item.Request_Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <ul>
                    <li>There is no Result</li>
                </ul>
            </div>
        }
        <div class="col-md-12">
            <div class="blog-more-btn">
                <div class="pagination-area text-center">
                    <nav aria-label="navigation">
                        <div>
                            <h3 style="color:darkblue; font-size:14px">
                                @if (pageList != null)
                                {
                                    @Html.PagedListPager(pageList, page => Url.Action("Create", new { page }))
                                }

                            </h3>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>