@model IEnumerable<eProject.Models.Category>

@{
    ViewData["Title"] = "AdminIndexCategory";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@section css{
    <link href="~/css/step-wizard.css" rel="stylesheet" />
}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Categories List</a></li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">


        <div class="text-center" style="padding:10px">
            @using (Html.BeginForm())
            {
                <input type="text" name="cname" placeholder="Enter category name..." />
                <input type="submit" value="Search" class="btn-info" />
            }
        </div>

        <p>
            <a asp-action="AdminCreateCategory">Create New</a>
        </p>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="AdminEditCategory" asp-route-id="@item.Category_Id">Edit</a> |
                            <a asp-action="AdminDeleteCategory" asp-route-id="@item.Category_Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>