@model IEnumerable<eProject.Models.vRequestItem>

@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@section css{
    <link href="~/css/step-wizard.css" rel="stylesheet" />
}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Report </a></li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">

        <div class="text-center" style="padding:10px">
            @using (Html.BeginForm())
            {
                @Html.Label("From:");
                <input type="datetime-local" name="fromDate" />
                @Html.Label("To:");
                <input type="datetime-local" name="toDate" />
                <input type="submit" value="Filter" name="Submit" class="btn-info" />
                @Html.Label("Get All Report:");
                <input type="submit" value="Search" name="Submit" class="btn-info" />
            }
        </div>

        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Request_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemCode)
                    </th>
                    <th>
                        ItemName
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateRequest)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Request_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRequest)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
</div>
</div>