@model IEnumerable<eProject.Models.Role>

@{
    ViewData["Title"] = "AdminIndexRole";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@{
    ViewData["Title"] = "AdminEditRole";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container-fluit">
            <div class="row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Role List</a></li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-left: 10px; margin-right: 10px">
        <div class="text-center" style="padding:10px">
            @using (Html.BeginForm())
            {
                <input type="text" name="rname" placeholder="Enter Role name..." />
                <input type="submit" value="Search" class="btn-info" />
            }
        </div>

        <p>
            <a asp-action="AdminCreateRole">Create New</a>
        </p>
        <table class="table table-bordered" border="1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Role_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleName)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            <a asp-action="AdminEditRole" asp-route-id="@item.Role_Id">Edit</a> |
                            <a asp-action="AdminDeleteRole" asp-route-id="@item.Role_Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>